/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Poppins|Cinzel|Bitter:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: seagreen;
  --matr-navbar-bg-rgb: 46, 139, 87;
  --matr-navbar-text-color: white;
  --matr-navbar-highlight-text: khaki;
}

.gradient {
  background: linear-gradient(to right, rgb(1, 50, 32), rgb(46, 139, 87), rgb(0, 0, 0));
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-dark: var(--matr-navbar-bg);
  --bs-dark-rgb: var(--matr-navbar-bg-rgb);
  background: fixed center url("/images/uh-gym.jpeg");
  background-size: cover;
  font-family: 'Bitter', sans-serif;
}

/* Set the alert background on the signin and signup pages. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

/* Define custom styles */
.gray-background {
  background-color: var(--matr-navbar-bg);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

footer, footer a {
  color: var(--matr-navbar-text-color);
  font-family: 'Cinzel', sans-serif;
}

/* Information on landing page */
.infofooter {
  color: black;
  font-family: 'Bitter', sans-serif;
}

body .navbar {
  --bs-navbar-active-color: var(--matr-navbar-highlight-text);
  --bs-navbar-brand-color: var(--matr-navbar-text-color);
  --bs-navbar-brand-hover-color: var(--matr-navbar-highlight-text);
  --bs-navbar-color: var(--matr-navbar-text-color);
  --bs-navbar-hover-color: var(--matr-navbar-highlight-text);
  font-family: 'Cinzel', sans-serif;
}
.bg-dark a.dropdown-item {
  color: var(--matr-navbar-bg);
}

/* Welcome text */
.welcome {
  color: white;
  font-family: 'Cinzel', sans-serif;
  text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px  1px 0 #000,
      1px  1px 0 #000;
  font-weight: bold;
}

.landing-page-button {
  height: 10px;
  width: 10px;
  font-family: 'Bitter', sans-serif;
  font-size: x-large;
  margin: 20px;
}

/* Footer links */
.link {
  text-decoration: none;
}

.fade-in {
  opacity: 0;
  transition: opacity 2s ease;
}

.fade-in.visible {
  opacity: 1;
}

/* calendar card */
.square-card {
  width: 800px;
  height: 150px;
  font-family: 'Bitter', sans-serif;
  font-size: large;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

/* About Page style */
.aboutBackground {
  background-color: white;
  background-size: cover;
  height: 200vh;
}
.image-border {
  display: inline-block;
  border: 3px solid #166D3B;
  border-radius: 50%;
  padding: 0px;
}

.icon {
  font-size: 22px;
  color: darkcyan;
}